html {
  color: white;
}

header {
  background-color: #016509;
  min-height: 6vh;
}

body {
  background: radial-gradient(
    50.03% 50.01% at 50% 50%,
    #f5ffeb 0%,
    #cdfe9d 100%
  );
  color: white !important;
}

.footerStyle {
  background-color: #016509;
  text-align: right;
  min-height: 18.2vh;
}

.footerStyle a {
  text-decoration: none;
  color: white;
}

.footerStyle a:hover {
  text-decoration: underline;
  color: blue;
}

.listaSinPuntos {
  list-style: none;
  margin-bottom: 0px;
  padding-top: 10px;
}

.main-Box {
  min-height: 65.9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerStyle {
  margin: 100px;
}

.letra-album {
  color: black !important;
  font-size: 20px !important;
}

.project-heading {
  color: #016509;
  font-weight: bold;
}

.project-description {
  color: black;
}

.card-img-top {
  object-fit: cover !important;
  height: 300px !important;
}

.card-pd-edit{
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card a {
  text-decoration: none !important;
}

.card-text,
.card-text a {
  color: black !important;
}

.card-title,
.card-title a {
  color: black !important;
}

.logoUade{
  margin: 20px;
  width: 60%;
  min-width: 200px;
  object-fit: cover;
  border: 2px solid black;
}

.aling-center-img{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.logoEconexion{
  width: 45%;
  max-width: 200px;
}
