html {
  color: white;
}

header {
  background-color: #016509;
  min-height: 6vh;
}

body {
  background: radial-gradient(
    50.03% 50.01% at 50% 50%,
    #f5ffeb 0%,
    #cdfe9d 100%
  );
  color: white !important;
}

.footerStyle {
  background-color: #016509;
  text-align: right;
  min-height: 10vh;
}

.footerStyle a {
  text-decoration: none;
  color: white;
}

.footerStyle a:hover {
  text-decoration: underline;
  color: blue;
}

.listaSinPuntos {
  list-style: none;
  margin-bottom: 0px;
  padding-top: 10px;
}

.main-content {
  min-height: 84vh;
}

.main-Box {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerStyle {
  margin: 100px;
}

.letra-album {
  color: black !important;
  font-size: 20px !important;
}

.project-heading {
  color: #016509;
  font-weight: bold;
}
.project-description {
  color: black;
}
